<html>
    <head>
        <meta charset="utf-8">
        <title>blahhhh</title>
    </head>
    <body>
        <h1>this is in the layout file</h1>
        <%- include('partials/navbar') %>
        <%- body %>
    </body>
</html>